html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}

main {
	text-align: right;
	justify-content: right;
}
body {
  background-color: #1d2f6f;
}
body, h1, p, pre, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

pre {
	max-width: 80%;
}
img {
	max-width: 100%;
	margin: 12px 4px 16px 0;
}
#gallery {
	text-align: center;
}
#gallery img {
	margin: 10px 0 30px 0;
}
#gallery div {
	background-color: #bbc;
	color: #FFF;
	text-align: center;
	font-weight: bold;
}
#loading {
	text-align: center;
	margin: 10px 0 40px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
}
.row:before, .row:after {
	display: table;
	content: " ";
}

h1, h2, h3, h4, h5 {
	font-size: 48px;
	font-weight: 300;
	margin: 0 0 45px 0;
	text-align: center;
	color: #4ecdc4;
}

p {
	margin: 0 0 10px;
	color: #4ecdc4;
}
nav a {
	color: #4ecdc4;
	text-decoration: none;
	margin-right: 6px;
	background-color: #1d2f6f;
	padding: 6px;
}

a {
	text-decoration: none;
	color: #9d84ff;
}

a:hover {
	text-decoration: none;
	color: #aa9fda;
}

hr {
	height: 2px;
	background-color:#4ecdc4;;
	border: none;
}

#secondaryCC, nav, section {
	background-color: #8391fa8e;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
nav {
	background-color: #9d84ff;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	position: sticky;
	top: 0;
}
#textColor, section {
	color: #4ecdc4;
}
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
	background-color: #9d84ff;
    color: #4ecdc4;;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    color: #23fff0;;
}

.collapsible {
	background-color: #9d84ff;
	color: #00ffee;
	cursor: pointer;
	width: 60%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 22px;
	padding: 6px 6px;
	margin-top: 8px;
	margin-left: 20%;
	margin-right: 20%;
  }

  strong {
	font-size: 20px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
	background-color: #236be8;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
	padding: 0;
	margin-top: 4px;
	max-height: 0;
	overflow: hidden;
	display: block;
	background-color: #acb6ffe7;
	transition: max-height 0.15s ease-in-out;
  }

  section {
	margin-bottom: 32px;
	margin-left: 5%;
	margin-right: 5%;
  }
@media screen and (max-width: 600px) {

}

